<!doctype html>
<html>
<head>
    <title>OneTagShop Admin</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         {  word-wrap:break-word; }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Dashboard</a>
          </div>
          <ul class="nav navbar-nav">
            <li class=""><a href="#">Products</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Inventory</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
        </div>
    </nav>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-tag"></span> OneTagShop</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-cart"></span> 3243 Jeans</h3>



            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa "></span> 343 T-shirts</h3>

         

            </div>
        </div>
    </div>
    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa "></span> 2323 Shoes</h3>

            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa "></span> 232 Electronics</h3>

               

            </div>
        </div>
    </div>


</div>
</body>
</html>